/* * {
    border: 2px solid black;
} */

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}

.navegador {
    background-color: cornflowerblue;
    padding-right: 400px;
    text-align: center;
    padding: 20px;
}

.redes {
    border-radius: 1000px;
    width: 40px;
    height: 40px;
    padding: 8px 10px;
}

.navVar {
    overflow: hidden;
    background-color: black;
}

.row {
    align-items: center;
    justify-content: center;
    display: flex;
}

.navVar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navVar a:hover {
    background-color: whitesmoke;
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.leftCoumn {
    float: left;
    width: 75%;
}

.portada {
    justify-content: center;
    align-items: center;
}

.portada img {
    width: 200px;
    height: 300px;
    border-radius: 100%;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 15px;
    padding-top: 10px;
}